body{
    font-weight: bold;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.column1{
    display: inline-block;
    width: 40%;
}
.column2{
    display: inline-block;
    width: 30%;
    color: grey;
    text-align: right;
}
.column3{
    display: inline-block;
    width: 25%;
    color: grey;
    text-align: right;
}
.columnhead{
    padding-top: 10px;
    padding-bottom: 10px;
}
.columnhead > .column1,
.columnhead > .column2,
.columnhead > .column3{
    color: #000;
}
ul {
    padding-left: 20px;
}
li {
    cursor: pointer;
    margin: 0;
}

ul li:nth-of-type(odd){
    background: #efefef;
}
ul li:nth-of-type(even){
    background: #fff;
}
li ul li:nth-of-type(odd){
    background: #fff;
}
li ul li:nth-of-type(even){
    background: #efefef;
}
li.file {
    list-style-image: url('../img/file.png');
}
li.dir {
    list-style-image: url('../img/folder.png');
}
li.dir:before{
    content: url('../img/arrow-right.png');
    position: absolute;
    margin-left: -50px;
}
li.dir.active:before{
    content: url('../img/arrow-down.png');
}
.ajax-loading-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}